%p=@cafe.name
- @tables.each do |table|
  .table-bookings
    = table.name
    = link_to "Show all bookings", cafe_table_bookings_path(@cafe,table)
    = link_to "Delete", cafe_table_path(@cafe,table), data: { confirm: 'Are you sure?' }, method: :delete
    = link_to "Edit", edit_cafe_table_path(@cafe,table)
    = link_to "Add booking", new_cafe_table_booking_path(@cafe,table)