.list-container
  %p
    = link_to 'Add new review', new_cafe_review_path, :id => 'add-review'
  .notice
  = notice
  %p 
  Reviews for  
  = @cafe.name

  %ul{class: 'listings'}
  - @reviews.each do |review|
    %li
      = review.post
      %span{class: 'rating'}
      = review.rating